<h1 class="text-center mt-4">LOG IN</h1>

<div class="container">

  <div class="row justify-content-center">
     <div class="col-10">
       <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-dark rounded", local: true) do |f| %>
         <div class="form-group row">
           <%= f.label :username, class: "col-2 col-form-label text-light" %>
           <div class="col-10">
             <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter your user name" %>
           </div>
         </div>
         <div class="form-group row">
           <%= f.label :password, class: "col-2 col-form-label text-light" %>
           <div class="col-10">
             <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password" %>
           </div>
         </div>
           <%= recaptcha_tags(action: 'login', site_key: ENV['GOOGLE_SITE_KEY']) %>
        <div class="form-group row justify-content-center">
        <%= f.submit 'Log in', class: "btn btn-primary" %>
      </div>
      <%= link_to 'Forgot Username', search_username_path, class: "text-light" %>
    <% end %>
  </div>
  <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
</div>
</div>
