<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-expand">
  <%= link_to 'Blogs', root_path, class: 'navbar-brand', id: 'logo'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Bloggers", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'All Articles', articles_path, class: 'dropdown-item'%>
          <% if current_user %>
            <%= link_to('Create New Article', new_article_path, class: 'dropdown-item')%>
          <%end%>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'All categories', categories_path, class: 'dropdown-item'%>
          <% if current_user && current_user.admin?%>
            <%= link_to('Create New Category', new_category_path, class: 'dropdown-item')%>
          <%end%>
        </div>
      </li>
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "(Admin)" if current_user.admin %> Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit user details', edit_user_registration_path(current_user), class: 'dropdown-item'%>
            <%= link_to('View pofile', current_user, class: 'dropdown-item')%>
            <%# <%= link_to('Delete profile', user_path(current_user), data: {confirm: ' Are you sure'}, class: 'dropdown-item text-danger', method: :delete)%>
          </div>
        </li>
        <li class="nav-item">
            <%= link_to 'Log out', destroy_user_session_path, class: 'nav-link', 'data-turbo-method': :delete %>
        </li>
      <%else%>
        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link'%>
        </li>
      <%end%>
    </ul>
  </div>
</nav>